<p id="notice"><%= notice %></p>

<h1>Epa Products</h1>

<br><br>
<%= button_to 'Scrape', scrape_epa_products_path, class:"btn btn-success" %>
<br><br>

<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th>EPA Code</th>
      <th>Name</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @epa_products.each do |epa_product| %>
      <tr>
        <td><%= epa_product.epa_code %></td>
        <td><%= epa_product.name.first(50) %></td>
        <td><%= epa_product.price %></td>
       
        <td>
          <span class="badge bg-primary">
            <%= link_to epa_product, class:"text-white text-decoration-none" do %>
              Show
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


